html body{
  background: url(http://feelgrafix.com/data_images/out/11/852857-milky-way-galaxy-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
