/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351
 */

.circle-container {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 10em;
	/*border: dashed 1px;
	border-radius: 50%;*/
	margin: 15em auto 0;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em;
}

.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); }
.deg30 { transform: rotate(30deg) translate(12em) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(12em) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(12em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(12em) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(12em) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(12em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(12em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg300{ transform: rotate(300deg) translate(12em) rotate(-300deg); }
.deg330{ transform: rotate(330deg) translate(12em) rotate(-330deg); }